[Unit]
Description=My Discord Bot
After=network.target

[Service]
User=root
WorkingDirectory=/venom
ExecStart=./.venv/bin/gunicorn --bind 0.0.0.0:5000 wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
