[Unit]
Description=My Discord Bot
After=network.target

[Service]
User=root
WorkingDirectory=/venom
ExecStart=/venom/env/bin/python3 /venom/main.py
Restart=always

[Install]
WantedBy=multi-user.target
